# 公共交通オープンデータセンター APIキー
# https://developer.odpt.org/ で取得
ODPT_API_KEY="YOUR_API_KEY"

# チャレンジ版APIキー（現在ではチャレンジ版APIは提供されていないため、ダミー値を設定すればOKです）
ODPT_CHL_API_KEY="Dummy"

DEBUG_MODE=true
ENABLED_ROUTES=*